<section id = "logincomponent" style = "background: url(src/assets/img1.jpg);">
<div class = "row">
    <div class = "col-md-4">
    </div>
    <div class="col-md-4" style = "margin-top: 2%;margin-bottom: 10%;">
     <div class="card" style = "width : 400px ;">
        <img class = "card-img-top" src="/assets/img/img_avatar1.png" height = 300px >
        <div class = "card-body">
          <form *ngIf="!isLoggedIn" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" name="form"  novalidate>
            <div class="form-group">
                <input type="text" class="form-control" placeholder ="email" name="username" placeholder="userName" [(ngModel)]="form.username" required #username="ngModel" > 
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">Username is required!</div>  
            </div>
            <br>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="form.password" required minlength="6"
              #password="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <button style ="margin-left: 40%;" class ="btn btn-primary btn-block" >Login</button>
            </div>
            <div class="form-group">
              <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">Login failed: {{ errorMessage }}</div>
          </div>
            <div style = "margin-left: 10%;">
              <p>Don't have an account?
              <a href= "register" routerlink = "register" >Signup Here</a></p>
           </div>
          </form>
          <div class="alert alert-success" *ngIf="isLoggedIn">Welcome {{currentUser.displayName}} <br>Logged in as {{ currentUser.roles }}.</div>
        </div>  
      </div>
    </div>
</div>
</section>


