
<section id="blog" class="clearfix">
    <div class="col-sm-12 space_all blog_t">
      <h1 class="text-center">Courses offered</h1>
    </div>
    
    <div class="col-sm-12 space_all">
    <div class ="row">
       <div class="col-sm-6">
        <div class="blog_2">
         
         <div class="blog_main clearfix">
          <h3><a href="CourseAngular.html">Angular</a></h3>
         <p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript. </p>
         
         </div>
        </div>
       </div>
       <div class="col-sm-6">
        <div class="blog_2">
        
         <div class="blog_main clearfix">
          <h3><a href="CourseJava.html">Java</a></h3>
         <p>Java is a general-purpose, class-based, object-oriented programming language designed for having lesser implementation dependencies.</p>
    </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-sm-12 space_all">
      <div class="row">
       <div class="col-sm-6">
        <div class="blog_2">
         
         <div class="blog_main clearfix">
          <h3><a href="CourseCloud.html">Cloud</a></h3>
         <p>"The cloud" refers to servers that are accessed over the Internet, and the software and databases that run on those servers.</p>
         
         </div>
        </div>
       </div>
       <div class="col-sm-6">
        <div class="blog_2">
        
         <div class="blog_main clearfix">
          <h3><a href="CourseSQL.html">SQL</a></h3>
         <p>SQL stands for Structured Query Language which is basically a language used by databases.</p>
         </div>
        </div>
       </div>
    </div>
     
      </div>
    
      <div class ="row">
    <div class="col-sm-6">
     <div class="blog_2">
      
    <div class="blog_main clearfix">
     <h3><a href="CourseWebApplications.html">Web Applications</a></h3>
    <p>A web application (or web app) is application software that runs on a web server, unlike computer-based software programs that are run locally on the operating system (OS) of the device. </p>
    
    </div>
     </div>
    </div>
 
    <div class="col-sm-6">
     <div class="blog_2">
      
    <div class="blog_main clearfix">
     <h3><a href="CourseHTML.html">HTML</a></h3>
    <p>Hypertext Markup Language, a standardized system for tagging text files to achieve font, colour, graphic, and hyperlink effects on World Wide Web pages. </p>
    
    </div>
     </div>
    </div>
    </div>

    <div class ="row">
 
    <div class="col-sm-6">
     <div class="blog_2">
      
    <div class="blog_main clearfix">
     <h3><a href="CourseCSS.html">CSS</a></h3>
    <p>CSS describes how HTML elements are to be displayed on screen, paper, or in other media· </p>
    
    </div>
     </div>
    </div>
 
    <div class="col-sm-6">
     <div class="blog_2">
      
    <div class="blog_main clearfix">
     <h3><a href="CourseJavaScript.html">Javascript</a></h3>
    <p>JavaScript is a programming language commonly used in web development. </p>   
    </div>
     </div>
    </div>
    </div>
 
 </section>



