<section id="center">
  <div class="banner">
    <div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="assets/img/1.jpg" alt="" class="img-responsive" />
          <div class="carousel-caption kb_caption kb_caption_right">
            <h3 data-animation="animated flipInX">
              Welcome to TIAA E-Learning
            </h3>
            <h4 data-animation="animated flipInX">
              Uplift your skills with top leaders
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="product">
  <div class="container">
    <div class="col-sm-12 space_all">
      <div class="row">

   
      <div class="col-sm-2 left_1 space_all">
        <div class="product_1">
          <p><i class="fa fa-desktop"></i></p>
        </div>
        <div class="product_2">
          <h3> 11+ </h3>
        <p>Courses</p>
        </div>
      </div>
     
      <div class="col-sm-2 left_1 space_all">
        <div class="product_3">
          <p><i class="fa fa-envelope"></i></p>
        </div>   
        <div class="product_2">
          <h3> 100+ </h3>
        <p>Sessions</p>
        </div>
     </div>
    
 
  
     <div class="col-sm-2 left_1 space_all">
      <div class="product_4">
          <p><i class="fa fa-product-hunt"></i></p>
      </div>
      <div class="product_2">
          <h3> 20+ </h3>
        <p>Leaders</p>
      </div>
     </div>

    
   
  
    
     <div class="col-sm-2 left_1 space_all">
        <div class="product_5">
          <p><i class="fa fa-users"></i></p>
        </div>
     
     
        <div class="product_2">
          <h3>200+ </h3>
          <p>Employees</p>
        </div>
     </div>

  


     <div class="col-sm-2 left_1 space_all">
      <div class="product_6">
          <p><i class="fa fa-reorder"></i></p>
      </div>
      <div class="product_2">
        <h3> 20+ </h3>
        <p>Years of Experience</p>
      </div>
     </div>



     <div class="col-sm-2 left_1 space_all">
        <div class="product_7">
          <p><i class="fa fa-thumbs-o-up"></i></p>
        </div>
        <div class="product_2">
          <h3> 5+ </h3>
          <p>Experience in Training</p>
        </div>
     </div>

    </div>
  </div>
</div>
</section>

<section id="making">
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
      <div class="making_1">
        <h2 class="text-center">Unleash Your Learning Online</h2>
        <p class="text-center">Future proof your skills with sustainable, scalable online learning.<br>More than just an authoring platform<br> </p>
   

    
      </div>
    </div>
   </div>
  </div>
</section>


	<div class="making_2">
		<h2 class="text-center">Courses Offered</h2>
	</div>
  
  <div class="col-sm-12 space_all">
    <div class ="row">
	    <div class="col-sm-3">
	      <div class="blog_2">	  
	        <div class="blog_main clearfix">
	          <h3><a href="CourseAngular.html">Angular</a></h3>
	          <p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript. </p>
	        </div>
	      </div>
      </div>

	    <div class="col-sm-3">
	      <div class="blog_2">
	        <div class="blog_main clearfix">
	          <h3><a href="CourseJava.html">Java</a></h3>
	          <p>Java is a general-purpose, class-based, object-oriented programming language designed for having lesser implementation dependencies.</p>	  
	        </div>
	      </div>
      </div>

	    <div class="col-sm-3">
	      <div class="blog_2"> 
	        <div class="blog_main clearfix">
	           <h3><a href="CourseCloud.html">Cloud</a></h3>
	          <p>"The cloud" refers to servers that are accessed over the Internet, and the software and databases that run on those servers.</p>
	        </div>
	      </div>
	    </div>

	     <div class="col-sm-3">
	        <div class="blog_2"> 
	          <div class="blog_main clearfix">
	           <h3><a href="CourseSQL.html">SQL</a></h3>
	           <p>SQL stands for Structured Query Language which is basically a language used by databases.</p>	  
	          </div>
	        </div>
	     </div>

    </div>
</div>


  <div class="container">
    <div class="col-sm-12 space_all">
      <div class="row">
          <div class="col-sm-6">
            <figure class="effect-jazz">
            <a href="#"><img src="assets/img/4.jpg" class="iw mgt" height="400" alt="img25"></a>
            </figure>
          </div>
          <div class="col-sm-6">
          <div class="skills_1r clearfix">
            <h1 class="mgt">Helping Employees Grow Their Skills</h1>
            <p>Uplift the skills by enrolling our courses on various new technology stacks and experience amazing learning with us.</p>   
          </div>
      </div>   
    </div>
   </div>










