
   <div class = "row">
        <div class ="col-md-4">

        </div>
        <div class="col-md-4">
            <div class ="card" style = "margin-top: 10% ;margin-bottom: 10%">
                <div class="card-title" style = "margin-left: 70px;">
                    <h4 >Create a new account here</h4>
                </div>
                <div class = "card-body">
                 <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <fieldset>
                        <div class="form-group">                       
                           <input  class ="form-control" type="text"  name="fullName" id="txt" required
                               placeholder="fullName" [(ngModel)]="form.fullName" required minlength="3"
                               maxlength="20" #fullName="ngModel" >
                            <div class="alert-danger" *ngIf="f.submitted && fullName.invalid">
                                <div *ngIf="fullName.errors.required">full Name is required</div>
                                <div *ngIf="fullName.errors.minlength">full Name must be at least 3 characters</div>
                                <div *ngIf="fullName.errors.maxlength">full Name must be at most 20 characters</div>
                            </div>
                       
                        </div>
                           <br>
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                          <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                              <div *ngIf="email.errors.required">Email is required</div>
                              <div *ngIf="email.errors.email">Email must be a valid email address</div>
                          </div>
                        </div>
                          <br>
                        <div class="form-group">                        
                          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                                  #password="ngModel" />
                            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                                <div *ngIf="password.errors.required">Password is required</div>
                                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                           </div>
                        </div>
                        <br>
                        <div class="form-group">                        
                          <input type="password" class="form-control" name="matchingPassword" [(ngModel)]="form.matchingPassword"
                          required minlength="6" #matchingPassword="ngModel" />
                            <div class="alert-danger" *ngIf="f.submitted && matchingPassword.invalid">
                              <div *ngIf="matchingPassword.errors.required">Confirm Password is required</div>
                              <div *ngIf="matchingPassword.errors.minlength">Confirm Password must be at least 6 characters</div>
                            </div>

                        </div>
                          <br>
                        
                        <div class="form-check-inline">
                            Choose a Role :
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="role" [(ngModel)]="form.role" #role="ngModel"> Student
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="role" [(ngModel)]="form.role" #role="ngModel"> SME
                            </label>
                          </div>
                        <br><br>
                        <div class="form-group" style="margin-left: 30%;">
                          <input class="btn btn-success" type="submit" name="submit_reg" value="Create Account" >
                        </div>
                        <br>
                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                          Signup failed!<br />{{ errorMessage }}
                        </div>
                        <div style = "margin-left: 10%;">
                            <p>Already have an account?
                            <a href= "login" routerlink = "login" >Signin Here</a></p>
                        </div>
                    </fieldset>
                 </form>
                 <div class="alert alert-success" *ngIf="isSuccessful">Your registration is successful!</div>
                </div>
             </div>
        </div>
    </div>
 
