
   <div class = "row">
        <div class ="col-md-4">

        </div>
        <div class="col-md-4">
            <div class ="card" style = "margin-top: 10% ;margin-bottom: 10%">
                <div class="card-title" style = "margin-left: 70px;">
                    <h4 >Create a new account here</h4>
                </div>
                <div class = "card-body">
                 <form>
                    <fieldset>
                        <div class="row"> 
                            <div class = "col">                      
                                <input  class ="form-control" type="text"  name="firstname" id="txt" required
                               placeholder=" firstName">
                            </div>
                            <div class="col">                       
                                <input class="form-control"  type="text"  name="lastname" id="txt"
                               placeholder="lastName" required > 
                            </div>                       
                        </div>
                           <br>
                        <div class="form-group">
                         <input required type="email"  name="username" id="username"
                            class="form-control phone" maxlength="28" placeholder="email" />
                        </div>
                          <br>
                        <div class="form-group">                        
                          <input class="form-control" required type="text"  name="password"
                            id="password" placeholder="password" />
                        </div>
                        <br>
                        <div class="form-group">                        
                            <input class="form-control" required type="text"  name="cnfpassword"
                              id="password" placeholder="confirm password" />
                          </div>
                          <br>
                        
                        <div class="form-check-inline">
                            Choose a Role :
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="optradio"> Student
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="optradio"> SME
                            </label>
                          </div>
                        <br><br>
                        <div class="form-group" style="margin-left: 30%;">
                          <input class="btn btn-success" type="submit" name="submit_reg" value="Create Account" >
                        </div>
                        <br>
                        <div style = "margin-left: 10%;">
                            <p>Already have an account?
                            <a href= "login" routerlink = "login" >Signin Here</a></p>
                        </div>
                    </fieldset>
                 </form>
                </div>
             </div>
        </div>
    </div>
 
