
  <div class="col-sm-12 space_all blog_t">
     <h1 class="text-center">MENTORS DETAIL</h1>
   </div>
   
                    
    <div class ="col-sm-12 space_all">
       <div class="row">
         <div class="col-sm-4">
           <div class="testimonial_hm text-center clearfix">
              <img src="assets/img/5.jpg" alt="abc" class="img-circle mgt">
              <p>
                  Angular    
               </p>
               <hr>
               <h3>Abhijit Das</h3>
               <h4>Analyst</h4>
           </div>
          </div>
          <div class="col-sm-4">
           <div class="testimonial_hm text-center clearfix">
              <img src="assets/img/6.jpg" alt="abc" class="img-circle mgt">
              <p>
                Artificial Intelligence
              </p>
               <hr>
               <h3>Kamal Heera</h3>
               <h4>Senior Associate</h4>
           </div>
          </div>
          <div class="col-sm-4">
           <div class="testimonial_hm text-center clearfix">
              <img src="assets/img/7.jpg" alt="abc" class="img-circle mgt">
              <p>
                HTML,CSS,JS
              </p>
               <hr>
               <h3>Hari Krishan</h3>
               <h4>System Engineer</h4>
           </div>
          </div>
        </div>
    </div>
    
   
    
                    
<div class="col-sm-12 space_all">
    <div class="row">
              <div class="col-sm-4">
               <div class="testimonial_hm text-center clearfix">
                  <img src="assets/img/5.jpg" alt="abc" class="img-circle mgt">
                  <p>SQL</p>
                   <hr>
                   <h3>Shivam Singh</h3>
                   <h4>Associate</h4>
               </div>
              </div>
              <div class="col-sm-4">
               <div class="testimonial_hm text-center clearfix">
                  <img src="assets/img/6.jpg" alt="abc" class="img-circle mgt">
                  <p>Web Application</p>
                   <hr>
                   <h3>Rajat Goel</h3>
                   <h4>Associate</h4>
               </div>
              </div>
              <div class="col-sm-4">
               <div class="testimonial_hm text-center clearfix">
                  <img src="assets/img/7.jpg" alt="abc" class="img-circle mgt">
                  <p>Cloud</p>
                   <hr>
                   <h3>Amrit Singh</h3>
                   <h4>Senior Associate</h4>
               </div>
              </div>
            </div>
        </div>
                    
<div class="col-sm-12 space_all">
            <div class="row">
                  <div class="col-sm-4">
                   <div class="testimonial_hm text-center clearfix">
                      <img src="assets/img/5.jpg" alt="abc" class="img-circle mgt">
                      <p>Verilog</p>
                       <hr>
                       <h3>Ramesh Katiyar</h3>
                       <h4>Associate</h4>
                   </div>
                  </div>
                  <div class="col-sm-4">
                   <div class="testimonial_hm text-center clearfix">
                      <img src="assets/img/6.jpg" alt="abc" class="img-circle mgt">
                      <p>VHDL</p>
                       <hr>
                       <h3>Abhishek Gautam</h3>
                       <h4>System Engineer</h4>
                   </div>
                  </div>
                  <div class="col-sm-4">
                   <div class="testimonial_hm text-center clearfix">
                      <img src="assets/img/7.jpg" alt="abc" class="img-circle mgt">
                      <p>System Verilog</p>
                       <hr>
                       <h3>Shiva Pavan</h3>
                       <h4>Analyst</h4>
                   </div>
                  </div>
                </div>
            </div>
                        
<div class="col-sm-12 space_all">                                 
            <div class="row">
              <div class="col-sm-4">
					     <div class="testimonial_hm text-center clearfix">
					      <img src="assets/img/5.jpg" alt="abc" class="img-circle mgt">
					      <p>Java</p>
                           <hr>
					       <h3>Ramandeep Singh</h3>
					       <h4>Analyst</h4>
					     </div>
              </div>

             <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="assets/img/6.jpg" alt="abc" class="img-circle mgt">
					      <p>AWS</p>
                           <hr>
					       <h3>Yash Singh</h3>
					       <h4>Analyst</h4>
					   </div>
            </div>
            <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="assets/img/7.jpg" alt="abc" class="img-circle mgt">
					      <p>Angular</p>
                           <hr>
					       <h3>Shiva Pavan</h3>
					       <h4>Associate</h4>
					   </div>
            </div>
      </div>
      
    </div>

